h1 {
    text-align: center;
    word-break: initial;
}

h3 {
    text-align: center;
}

#bob {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    background-color: antiquewhite;
}